<footer class="footer">
    <div class="container">
      <section class="buttons">
        <a
          target="_blank"
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/eIliadis93"
          role="button"
          ><img src="assets/svg/ic-github-logo.svg"
        /></a>
        <a
          class="btn btn-outline-light btn-floating"
          href="mailto:vag.iliadis1993@hotmail.com"
          role="button"
          ><img src="assets/svg/mail.svg"
        /></a>
      </section>
      <section class="footer-info">
        <p>
          Movie Rental PoC
          &nbsp;<a
            href="https://github.com/eIliadis93/online-movies-rent-store"
            target="_blank"
            >Project Repository
          </a>
        </p>
      </section>
    </div>
  </footer>
  