<mat-card
  class="movie-card"
  [ngClass]="{'detail-page': isDetailsView}"
  appearance="outlined"
  (click)="viewDetails()"
>
  <mat-card-header>
    <mat-card-title *ngIf="movie?.title; else titlePlaceholder">{{ movie?.title }}</mat-card-title>
    <ng-template #titlePlaceholder>
      <div class="placeholder">Title</div>
    </ng-template>
    <mat-card-subtitle *ngIf="movie?.pub_date; else subtitlePlaceholder">{{ movie?.pub_date }}</mat-card-subtitle>
    <ng-template #subtitlePlaceholder>
      <div class="placeholder">Pub Date</div>
    </ng-template>
  </mat-card-header>
  <div class="movie-card-image">
    <img
      mat-card-avatar
      [src]="this.image"
      alt="{{ movie?.title }} Poster"
    />
  </div>
  <mat-card-content>
    <div class="rating" *ngIf="movie?.rating; else ratingPlaceholder">Rating: {{ movie?.rating }} / 10</div>
    <ng-template #ratingPlaceholder>
      <div class="placeholder">No rating available</div>
    </ng-template>
    <div class="categories" *ngIf="movie?.categories?.length; else categoriesPlaceholder">
      <span *ngFor="let category of movie?.categories" class="category-badge">
        {{ category }}
      </span>
    </div>
    <ng-template #categoriesPlaceholder>
      <div class="placeholder">Categories</div>
    </ng-template>
    <div *ngIf="isDetailsView">
      <p *ngIf="movie?.description; else descriptionPlaceholder">{{ movie?.description }}</p>
      <ng-template #descriptionPlaceholder>
        <div class="placeholder">Description</div>
      </ng-template>
      <div class="reviews">
        <h4>Reviews:</h4>
        <ng-container *ngIf="movie?.reviews && movie?.reviews?.length; else noReviews">
          <div *ngFor="let review of movie?.reviews" class="review">
            <h5>{{ review.author }}</h5>
            <p>{{ review.content }}</p>
          </div>
        </ng-container>
        <ng-template #noReviews>
          <p>No reviews available for this movie.</p>
        </ng-template>
      </div>
      <button class="rent-button" (click)="rentMovie()">Rent Movie</button>
    </div>
  </mat-card-content>
</mat-card>
