.mat-card-avatar {
  height: 100%;
  width: 55%;
  border-radius: 6%;
}

.mat-card-title {
  font-size: 15px;
}

.mat-card {
  color: white;
  background-color: #343a40;
  text-align: center;
}

.mat-card-header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.movie-card {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.movie-card-image {
  height: 245px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.movie-card-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.no-image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-badge {
  background-color: #6c757d;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 4px;
  display: inline-block;
}

.reviews {
  margin-top: 20px;

  h4 {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }

  .review {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 10px;
    color: #ddd;

    h5 {
      margin: 0;
      font-weight: bold;
    }

    p {
      margin: 5px 0;
    }
  }

  p.no-reviews-message {
    font-style: italic;
    color: #999;
    margin-top: 20px;
    font-size: 1rem;
  }
}

.rent-button {
  padding: 10px 20px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.mat-card-subtitle {
  color: white;
  margin-top: 5px;
}

.detail-page {
  background-color: #6c757d;
  box-shadow: none;

  .category-badge {
    background-color: #343a40;
  }

  .movie-card-image {
    height: 65vh;
    @media (max-width: 820px) {
      height: 40vh;
    }
  }

  .mat-card-avatar {
    width: 30%;
    @media (max-width: 820px) {
      width: 55%;
    }
  }
}

.placeholder {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
