.movies-container {
  margin: 20px;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Adjust the min width as needed
  gap: 20px; // Space between cards
}

.movie-card {
  width: 100%;
}
