.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.movie-card {
  min-height: 370px;
}

@media (min-width: 1200px) {
  .movies-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1199px) and (min-width: 900px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 899px) and (min-width: 600px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 599px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

mat-paginator {
  margin-top: 20px;
}
