.accordion-container {
  margin: 20px;
  padding: 10px;
}

.expansion-panel {
  background-color: #343a40;
  padding: 10px;
  margin-top: 10px !important;
  
  .mat-expansion-panel-header {
    background-color: #343a40;
    color: white;
  }

  .mat-expansion-panel-header .mat-panel-title {
    color: white;
    font-weight: bold;
  }

  .mat-expansion-panel-content {
    background-color: #343a40;
    color: white;
  }

  .mat-expansion-panel-content {
    margin-top: 10px;
  }
}


