<mat-accordion class="accordion-container">
  <mat-expansion-panel (opened)="onAddMoviePanelOpen()" class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansion-panel_title">
        Add Movie
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-add-movie></app-add-movie>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="onBubbleChartPanelOpen()"
    class="expansion-panel"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="expansion-panel_title">
        Bubble Chart
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-bubble-chart></app-bubble-chart>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="onRentalPanelOpen()" class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansion-panel_title"> Rentals </mat-panel-title>
    </mat-expansion-panel-header>
    <app-rentals [isAdmin]="true" [isMobile]="isMobile"></app-rentals>
  </mat-expansion-panel>
</mat-accordion>
